#drop-zone {
  padding: 1em;
  border: 1px solid blue;
}

#files {
  padding: 0px;
}

#files li {
  list-style: none;
}

#files li h1 {
  padding-left: 0.5em;
  color: lightgrey;
  position: relative;
  font-size: 1em;
  font-weight: normal;
}

#files li canvas {
  border: 1px solid blue;
}

#files li > div {
  position: relative;
}

#files li .selection {
  position: absolute;
  top: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.1);
  cursor: ew-resize;
}

#files li .selection .drag-handle {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 20px;
  background: rgba(0, 0, 0, 0.1);
}

#files li .selection .drag-handle + .drag-handle {
  right: 0px;
}
